<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout_02</title>
    <link rel="stylesheet" href="./layout_02.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <p>header</p>
        </div>
        <div class="contents">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam tempora, amet hic omnis odit voluptate mollitia assumenda! Ullam eum quia est, vel ratione debitis fuga, aut ex, sit ab veniam!
            </p>
        </div>
        <div class="footer">
            <p>footer</p>
        </div>
    </div>
</body>
</html>