* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    color: #222;
}

.warp {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #002866;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
}

.gnb li a:hover {
    color: orangered;
}


.slider img {
    display: block;
    width: 100%;
}

/* .contents */

.contents {
    height: 200px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.contents .item {
    width: 384px;
}

.board .board_titles {
    display: flex;
    gap: 4px;
    border-bottom: 3px solid #FF6347;
}
.board .board_titles h3 {
    height: 48px;
    text-align: center;
    line-height: 51px;
    flex: 1;
}
.board .board_titles h3:first-child {
    background-color: #FF6347;
    color: #fff;
}
.board .board_titles h3:last-child {
    background-color: #F0F0;
}

.board .board_list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.board .board_list a:hover {
    text-decoration: underline;
}

.link ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.link ul li {
    width: 184px;
    background-color: #d9d9d9;
    height: 85px;
    text-align: center;
    line-height: 85px;
    border-radius: 8px;
}

.link ul li:nth-child(1), .link ul li:nth-child(2)  {
    margin-bottom: 10px;
}

.link ul li:nth-child(1), .link ul li:nth-child(3)  {
    margin-right: 16px;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #eeeeee;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer_logo img {
    filter: grayscale(1);
    mix-blend-mode: multiply;
    opacity: 0.7;
}


.sns {
    display: flex;
    gap: 24px;
}

