* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    line-height: 1.4;
    color: #222;
}

img {
    display: block;
    width: 100%;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: 1px solid blue;
}

.gnb ul {
    display: none;
}

.gnb {
    display: flex;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 60px;
}

.gnb > li > a:hover {
}

/* slide */
.slider {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
    

.slide {
    width: 1200px;
}

.slide img {
    display: block;
}


.contents {
    display: flex;
    gap: 24px;
    height: 200px;
    padding: 10px 0;
}

.contents > div {
    width: 384px;
}

.board .titles {
    display: flex;
    gap: 4px;
    border-bottom: 3px solid #ff6347;
}

.board .titles h2 {
    height: 48px;
    line-height: 48px;
    width: 190px;
    font-size: 14px;
    font-weight: normal;
    background-color:  #f0f0f0;
    text-align: center;
}

.board .titles h2.active {
    background-color:  #ff6347;
    color: #fff;
}

.board .notice_list {
    padding: 10px 6px;
}

.board .notice_list li {
    padding-left: 10px;
    position: relative;
}















