@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}

.wrap {
    width: 1000px;
    display: flex;
}



/* .leftmain */
.leftmain .logo img{
    width: 200px;
    height: 40px;
    margin: 10px;
}



/* .gnb */
.gnb ul {
    display: none;
}
.gnb ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.gnb ul li a:hover {
    background-color: #ddd;
    color: #ffffff;
}

.gnb > li > a {
    display: block;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #333333;
}

.gnb > li:hover > a {
    background-color: #333333;
    color: #ffffff;
}

/* .slider */
.slider {
    position: relative;
    height: 350px;

}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}


/* .contents */
.contents {
    display: flex;
    margin: 10px 0;
    gap: 4px;
}

.title {
    display: flex;
    gap: 4px;
    width: 264px;
    border-bottom:2px solid #333333;
}

.title h3 {
    width: 130px;
    color: #ffffff;
    height: 50px;
    background-color: #333333;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

.title h3.active {
    background-color: #ddd;
    color: #333333;
}

.notice_list {
    padding: 20px 10px;
}

.notice_list li {
    font-size: 12px;
    padding: 4px;
}

.banner img, .link img {
    width: 264px;
    height: 200px;
    object-fit: cover;
}

.gallery_list {
    display: none;
}

.gallery_list li {
    display: inline-block;
    /* 제이쿼리를 하게 되면 자동으로 블록으로 됨,
    inline-block을 하게 되면 옆으로 이미지들이 붙을 수 있게 된다. */
}

.gallery_list img {
    width: 80px;
}

.item {
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 800px;
    background-color: #ddd;
}

.f_logo img {
    width: 200px;
    height: 40px;

}

.copyright {
    width: 800px;
    margin-top: 80px;
}

/* .modal  */
.modal {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #333333;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal h3 {
    text-align: center;
}

.modal p {
    margin: 10px 0;
    text-align: center;
    line-height: 1.6;
}


.modal button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}








